.gameArea {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 2px solid black;
  border-radius: 5px;
}

.snakeDot {
  position: absolute;
  width: 2%;
  height: 2%;
  background: linear-gradient(#fdf90c, #0655a0);
  border-radius: 50%;
  border: 1px solid white;
  z-index: 2;
}

.snakeFood {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: rgb(192, 19, 19);
  border-radius: 50%;
  border: 1px solid white;
  z-index: 1;
}
